{
  "zip" : "21045",
  "country" : "USA",
  "city" : "Columbia",
  "last_name" : "Ibekwe",
  "industry" : "Engineering",
  "eula" : "yes",
  "title" : "Software Engineer",
  "phone" : "3013464012",
  "company" : "T-Rex",
  "state" : "MD",
  "department" : "Engineering",
  "first_name" : "Patrick",
  "email" : "patrick.ibekwe@trexsolutionsllc.com"
}
